In [1]:
a = [1,2,3]
b = [1,2,3]
print('a == b :', a==b)
print('a is b :', a is b)

a == b : True
a is b : False

In [7]:
# tuple()
for name in ('루피','조로','상디','쵸파'):
    print(name,end='\n')
else:
    print("끝")

루피
조로
상디
조로
끝

In [13]:
# set()
for name in {'루피','조로','상디','쵸파'}:
    print(name,end=' ')

쵸파 상디 조로 루피

In [18]:
# dict()
onePc = {'선장':'루피','부선장':'조로','요리사':'상디','의사':'쵸파'}
for k in onePc:
    print(k,':',onePc[k],end='\n')

선장 : 루피
부선장 : 조로
요리사 : 상디
의사 : 쵸파

#### 자료구조 형식

<ol>
    <li>list     : [데이터]</li>
    <li>tuple    : (데이터)</li>
    <li>set      : {데이터}</li>
    <li>dict     : {키값: 데이터,...}</li>
<ol>

In [19]:
for c in 'chopper':
    print(c, end='\n')

c
h
o
p
p
e
r

In [22]:
list1 = []
for c in list1:
    print(c,end='\n')
else:
    print('ㄹㅇㅋㅋ')

ㄹㅇㅋㅋ

In [23]:
msg = '제일 위에 있는 것으로'
list2 = []

for c in msg:
    list2.append(c)
print(list2)

['제', '일', ' ', '위', '에', ' ', '있', '는', ' ', '것', '으', '로']

In [24]:
list3 = ['"' + c + '"' for c in msg]

In [25]:
print(list3)

['"제"', '"일"', '" "', '"위"', '"에"', '" "', '"있"', '"는"', '" "', '"것"', '"으"', '"로"']

In [35]:
list4 = [no**2 for no in range(1,11)]
print(list4)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
list4 = [no**2 for no in range(1,11) if no % 2 == 1]
print(list4)

[1, 9, 25, 49, 81]

##### 별찍기

In [105]:
# 0.
star = range(1,6)
for i in range(1,6):
    for j in range(i, i+1):
        print('*'*j)

*
**
***
****
*****

In [146]:
# 3. 
for i in star:
    for j in range(6-i, 6-i+1):
        print(' '*(i-1),'*'*j)

 *****
  ****
   ***
    **
     *

In [48]:
# 4.
for i in star:
    print(' ' * i , '*'*(6-i),end='\n')

  *****
   ****
    ***
     **
      *

In [169]:
# 구구단

for dan in range(1,10):
    for gop in range(2,10):
        print(gop,'x',dan,'=',dan*gop,end='\t')

    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [177]:
# 0

for i in range(5):
    for k in range(4-i):
        print(' ', end='')# 줄바꿈제거
    for k in range(i+1):
        print('*',end='') # 줄바꿈제거
    print()

    *
   **
  ***
 ****
*****

In [184]:
for i in range(5):
    ch= ' '
    for j in range(5):
        if(j >= 4-i):
            ch = '*'
            print(ch,end='')
    print()

*
**
***
****
*****

In [192]:
for i in range(5):
    ch= ' '
    for j in range(5):
        ch = '*' if j < 5 - i else ' '            
        print(ch,end='')
    print()

*****
****
***
**
*

In [215]:
for h in range(2):
    for gop in range(1,10):
        for w in range(4):
            dan = h * 4 + w + 2
            result = dan * gop
            print('{0:1} x {1:1} = {2:2}'.format(dan,gop,result), end='\t')
        print()
    print()

2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45

6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [242]:
for k in range(2,10,3):
    for j in range(1,10):
        for i in range(3):
            dan = k + i
            if(dan == 10):
                break;
            gop = j
            print(dan,'x',gop,'=',dan*gop,end='\t')
        print()
    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36

5 x 1 = 5	6 x 1 = 6	7 x 1 = 7
5 x 2 = 10	6 x 2 = 12	7 x 2 = 14
5 x 3 = 15	6 x 3 = 18	7 x 3 = 21
5 x 4 = 20	6 x 4 = 24	7 x 4 = 28
5 x 5 = 25	6 x 5 = 30	7 x 5 = 35
5 x 6 = 30	6 x 6 = 36	7 x 6 = 42
5 x 7 = 35	6 x 7 = 42	7 x 7 = 49
5 x 8 = 40	6 x 8 = 48	7 x 8 = 56
5 x 9 = 45	6 x 9 = 54	7 x 9 = 63

8 x 1 = 8	9 x 1 = 9
8 x 2 = 16	9 x 2 = 18
8 x 3 = 24	9 x 3 = 27
8 x 4 = 32	9 x 4 = 36
8 x 5 = 40	9 x 5 = 45
8 x 6 = 48	9 x 6 = 54
8 x 7 = 56	9 x 7 = 63
8 x 8 = 64	9 x 8 = 72
8 x 9 = 72	9 x 9 = 81