# day04

<pre>
len() : 시퀀스 자료의 길이를 반환해주는 함수
</pre>

<pre>
latex 수식 입력하기
</pre>
예제 ] <br>

$
    f_{(x)} = _{\beta0} + _{\beta1}x + _{\beta2}x^2
$

In [7]:
msg = "How is the weather? It's so hot here."
print('length msg :', len(msg))

length msg : 37

In [9]:
for i in range(len(msg)):
    munja = msg[i]
    print(munja, end="")
    if(i + 1) % 10 == 0:
        print()

How is the
 weather?
It's so ho
t here.

In [12]:
bp = 'Black Pink'
print(bp[1:3])
print(bp[0:3])
print(bp[::2])

la
Bla
BakPn

#### * 문자별 슬라이싱 방법
<pre>
    문자열[시작인덱스:종료인덱스:스텝]

    문자열[위치값] : 해당 위치의 문자 하나 추출
    문자열[시작:종료위치] : 시작위치에서부터 종료위치 직전까지 추출

    문자열[시작위치::스텝] : 시작위치에서부터 스텝만큼 건너면면서 추출 
    문자열[:종료위치:스텝] : 첫번째 문자부터 종료위치 직전까지 스텝만큼 건너뛰면서 추출 
</pre>

In [14]:
print(bp[2::2])

akPn

In [16]:
bp[:7:3]

'BcP'

In [17]:
'hello'[2]
#  ==> 문자열에서 세번째 문자 추출

'l'

In [18]:
bp[::-1]
# ==> 문자열을 역순으로 추출

'kniP kcalB'

In [19]:
bp[-1:]

'k'

In [20]:
bp[-1:-3]

''

In [25]:
bp[-1:-3:-1]

'kn'

In [27]:
bp[::-1][:2]

'kn'

In [28]:
bp

'Black Pink'

In [41]:
msg = "Hello World!"
len1 = len(msg)
print('-' *len1)
print((msg + '\n')* 10)
print('-' *len1)

------------
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

------------

In [42]:
'l' in msg

True

In [43]:
if('h' not in msg):
    print('h ')

h

# 연산자

<pre>
연산에 사용되는 기호
</pre>

In [44]:
# 누적 할당 연산자
no = 10
print('no :',no)
no //= 3
print('no :', no)

no : 10
no : 3

In [60]:
a = 10
b = 4
# &, | 연산의 피연산자가 정수인 경우에는 이 연산자는 비트연산을 하는 비트연산자.
print(a & b)
print(a | b)
# 조건처리연산자
print(a and b)
print(a or b)

4
10

# javascript code
var sid = $('#id').val();
if(sid){
    // if 명령의 조건식 위치(sid)에는 논리값이 입력되어야 한다.
    // 일반 변수를 기술하는 경우에는 해당 변수가 비워져있으면 false, 데이터가 존재하면 true 를 반환한다.
    // sid 가 NULL, undefined 인 경우 이 블럭 실행
}

In [56]:
a = None
if(a):
    # 이 경우 변수 a에 데이터가 채워져 있으면 true를 반환한다.
    print('a :', a)
else:
    print('알빠노!')

알빠노!

#### java & javascript 삼항 조건 연산자

(조건식) ? 참일때반환값 : 거짓일때반환값;

#### python 에서의 삼항 조건 연산자

참일때반환값 if 조건식 else 거짓일때반환값

In [61]:
c = a % 2

msg = '짝수' if c == 0 else '홀수'
print(msg)

짝수

In [64]:
if(c != 0):
    msg = '홀수'
else:
    msg = '짝수'
print(msg)

짝수

In [69]:
num1 = None
num2 = 10
print(num2 and num1) # 데이터가 없는 변수 또는 둘다 있는 경우에는 and 이후에 변수의 내용 출력
print(num2 or num1)  # 데이터가 있는 변수 또는 둘다 있는 경우에는 첫번째 변수의 내용을 출력

None
10

# 자료구조

##### List

In [71]:
list1 = [
    'jennie',
    'lisa',
    'rose',
    'jisoo'
]
print('list1 :',list1)

list1 : ['jennie', 'lisa', 'rose', 'jisoo']

In [72]:
print('list1 * 5 :', list1 * 5)

list1 * 5 : ['jennie', 'lisa', 'rose', 'jisoo', 'jennie', 'lisa', 'rose', 'jisoo', 'jennie', 'lisa', 'rose', 'jisoo', 'jennie', 'lisa', 'rose', 'jisoo', 'jennie', 'lisa', 'rose', 'jisoo']

In [73]:
print(list1)

['jennie', 'lisa', 'rose', 'jisoo']

In [74]:
print(list1+list1)

['jennie', 'lisa', 'rose', 'jisoo', 'jennie', 'lisa', 'rose', 'jisoo']

In [78]:
print(list1[0] * 100)

jenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejenniejennie

In [79]:
print(list1[:2] * 5)

['jennie', 'lisa', 'jennie', 'lisa', 'jennie', 'lisa', 'jennie', 'lisa', 'jennie', 'lisa']

In [81]:
list1[::-1]

['jisoo', 'rose', 'lisa', 'jennie']

In [87]:
print('list1 :', list1) 
print('list1[-3] :', list1[-3])

list1 : ['jennie', 'lisa', 'rose', 'jisoo']
list1[-3] : lisa

In [89]:
print(list1[-3::-1])

['lisa', 'jennie']

In [91]:
list2 = [1,2,3]
print('list2 :', list2)
list2[1] = 100
print('list2 :', list2)

list2 : [1, 2, 3]
list2 : [1, 100, 3]

In [92]:
list3 = [3,4,5]
print('list3 :', list3)
list3 = list2
print('list2, list3 : ', list2, list3)

list3 : [3, 4, 5]
list2, list3 :  [1, 100, 3] [1, 100, 3]

In [98]:
rng1 = range(1,11)
for no in rng1:
    print('no :', no, end='\n')
print(type(rng1))

no : 1
no : 2
no : 3
no : 4
no : 5
no : 6
no : 7
no : 8
no : 9
no : 10
<class 'range'>

In [108]:
tp1 = ('jennie', 'lisa', 'rose', 'jisoo')
print('tp1 :', tp1)
print(tp1[0].upper())

tp1 : ('jennie', 'lisa', 'rose', 'jisoo')
JENNIE

In [109]:
tp1

('jennie', 'lisa', 'rose', 'jisoo')

In [112]:
tp1 = ('JENNIE',) + tp1[1:]
tp1

('JENNIE', 'lisa', 'rose', 'jisoo')

In [115]:
# 문자열 자체는 절대 변하지 않는다.
bp[0] = 'b'

TypeError: 'str' object does not support item assignment

In [116]:
list4 = list(tp1)

In [117]:
list4

['JENNIE', 'lisa', 'rose', 'jisoo']

In [118]:
list4 = tuple(tp1)

In [119]:
tp1

('JENNIE', 'lisa', 'rose', 'jisoo')

In [120]:
d1 = dict()
d1['blackpink'] = ['jennie', 'lisa', 'rose', 'jisoo']
print('d1 :', d1)

d1 : {'blackpink': ['jennie', 'lisa', 'rose', 'jisoo']}

In [121]:
print(type(d1))

<class 'dict'>

In [122]:
t1 = tuple()
print('t1 :', t1)

t1 : ()

In [123]:
t1[0] = 'jennie'
print('t1 :', t1)

TypeError: 'tuple' object does not support item assignment

In [137]:
# tuple() 은 데이터를 수정할 수 없는 자료 구조이다.
# 데이터를 추가하는 작업을 못한다.

l2 = list(t1)
l2.append('jennie')
l2.append('lisa')
l2.append('rose')
l2.append('jisoo')
t1 = tuple(l2)

In [138]:
t2 = ('jennie','jennie','jennie','jennie')
print(list(t2))

['jennie', 'jennie', 'jennie', 'jennie']

In [139]:
d1 = dict()
print(d1)

{}

In [141]:
s1 = set(['jennie', 'lisa', 'rose', 'jisoo'])
print(s1)

{'rose', 'jisoo', 'jennie', 'lisa'}

In [142]:
t3 = {}
print(type(t3))

<class 'dict'>

In [143]:
d1 = {
    'name':'쵸파',
    'age': 15,
    'gen': '남자',
    'job': '의사',
}
print(d1)

{'name': '쵸파', 'age': 15, 'gen': '남자', 'job': '의사'}

In [149]:
d_1 = list(d1)
print(d_1)

['name', 'age', 'gen', 'job']

In [162]:
for k in d1:
    print('{0:>5} : {1}'.format(k,d1[k]))
for k in d1:
    print('%5s : %3s' % (k, str(d1[k])))

 name : 쵸파
  age : 15
  gen : 남자
  job : 의사
 name :  쵸파
  age :  15
  gen :  남자
  job :  의사

In [156]:
d_1[0]

'name'

In [163]:
print('height' in d1)

False

In [164]:
print('age' in d1)

True

In [166]:
# 데이터 추가하는 방법
d1['height'] = 91
print(d1)

{'name': '쵸파', 'age': 15, 'gen': '남자', 'job': '의사', 'height': 91}

In [167]:
d1.keys()

dict_keys(['name', 'age', 'gen', 'job', 'height'])

In [172]:
k1 = d1.keys()
v1 = d1.values()
print(k1, ':', v1)
it1 = d1.items()
print('it1 :', it1)
print(list(it1))

dict_keys(['name', 'age', 'gen', 'job', 'height']) : dict_values(['쵸파', 15, '남자', '의사', 91])
it1 : dict_items([('name', '쵸파'), ('age', 15), ('gen', '남자'), ('job', '의사'), ('height', 91)])
[('name', '쵸파'), ('age', 15), ('gen', '남자'), ('job', '의사'), ('height', 91)]

In [173]:
k2 = list(k1)
v2 = list(v1)
print(k2[0] , ':', v2[0])
it2 = list(it1)
print(it2)

name : 쵸파
[('name', '쵸파'), ('age', 15), ('gen', '남자'), ('job', '의사'), ('height', 91)]

In [181]:
for it in it2:
    print('{0:>6} : {1}'.format(it[0],str(it[1])))

  name : 쵸파
   age : 15
   gen : 남자
   job : 의사
height : 91

In [183]:
# 비어있는 자료구조 제이터 만들기
l2 = []
tpl = ()
d2 = {}
print('l2 type :', type(l2))
print('tpl type :', type(tpl))
print('d2 type :', type(d2))

l2 type : <class 'list'>
tpl type : <class 'tuple'>
d2 type : <class 'dict'>

In [184]:
l3 = list()
tpl1 = tuple()
d3 = dict()
print('l3 type :', type(l3))
print('tpl1 type :', type(tpl1))
print('d3 type :', type(d3))

l3 type : <class 'list'>
tpl1 type : <class 'tuple'>
d3 type : <class 'dict'>

In [186]:
if (type(l3) == type([])):
    print('리스트입니다.')

리스트입니다.

In [187]:
if (type(tpl1) == type(())):
    print('튜플입니다.')

튜플입니다.

In [188]:
if (type(d3) == type({})):
    print('dict입니다.')

dict입니다.